#mainmenu{
    a{
        &:hover{
            background-color: $colorWindow;
            border-radius: 20px;
        }
        &:active{
            opacity: 0.5;
        }
    }
    #DeleteRecipes{
        &:hover{
            background-color: red;
            opacity: 0.8;
        }
    }
}

.windowInfo{
    padding: 20px;
    height: 60vh;
    width: 60vw;
    background-color: $colorWindow;
    font-size:2vw;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 20vh;
    left: 20vw;
    border-radius: 125px 125px 125px 125px;
    border: 3px solid snow;  
    -webkit-box-shadow: 25px 25px 25px -25px snow;
    -moz-box-shadow: 25px 25px 25px -25px snow;
    box-shadow: 25px 25px 25px -25px snow;
}
.redWindow{
    position: fixed;
    left:0px;
    top:0px;
    width:100vw;
    height: 100vh;
    background-color: rgba(199, 61, 61, 0.6); 
    z-index: 10; 
    .windowInfo{
        background-color: rgb(80, 5, 5);
        color:snow;
    }
}