.blackWindow{
    position: fixed;
    left:0px;
    top:0px;
    width:100vw;
    height: 100vh;
    background-color: $backgroundColorWindow;  
    z-index: 10;
    .addWindow{
        height: 80vh;
        width: 80vw;
        margin-top: 10vh;
        margin-left: 10vw;
        background-color: $colorWindow;
        overflow-y:scroll; 
        -webkit-box-shadow: 25px 25px 25px -25px snow;
        -moz-box-shadow: 25px 25px 25px -25px snow;
        box-shadow: 25px 25px 25px -25px snow;

        border-radius: 25px 0 0 25px;
        border-left: 3px solid snow;  
        border-top: 3px solid snow; 
         
        .recipeTitle{
            font-size: 34px;
            text-align: center;
            font-weight: bolder;
        }
        .litleTitle{
            font-size: 25px;
            font-weight: bolder;
        }
        input{
            width:100%;
            background-color: rgb(255, 247, 238);
        }
        textarea{
            width:100%;
            background-color: rgb(255, 247, 238);
        }
        .ingredient{
            display: flex;
            justify-content: space-between;
            margin-top:2px;
        }
    }
}

#ingredConteiner{
    .ingredient{
        display:flex;
    }
    p{
        margin:0px;
    }
}

.openRecipe{
    border-radius: 20px 20px 0 20px;
    -webkit-box-shadow: 25px 25px 25px -25px rgba(0,0,0,0.56);
    -moz-box-shadow: 25px 25px 25px -25px rgba(0,0,0,0.56);
    box-shadow: 25px 25px 25px -25px rgba(0,0,0,0.56);   
    width: 100vw;
    margin-top: 20px;
    color:rgb(82, 82, 82);
    text-decoration: none;
    &:hover{
        -webkit-box-shadow: 0px 1px 10px 10px rgba(255,255,255,0.96);
        -moz-box-shadow: 0px 1px 10px 10px rgba(255,255,255,0.96);
        box-shadow: 0px 1px 10px 10px rgba(255,255,255,0.96);   
        color:rgb(82, 82, 82);
        text-decoration: none;
    }
    &:active{
        opacity:0.6;
        -webkit-box-shadow: 0px 1px 10px 10px rgba(255,255,255,0.96);
        -moz-box-shadow: 0px 1px 10px 10px rgba(255,255,255,0.96);
        box-shadow: 0px 1px 10px 10px rgba(255,255,255,0.96);     
    }

    .cardContent{
        display:flex;
        .firstContent{
            min-width:40%;
            max-width:40%;
            border-left:2px solid rgba(0, 0, 0, 0.5); 
            border-right:2px solid $mainBackgroundColor;  
        }
        .secondContent{
            min-width:60%;
            max-width:60%;
            border-left:2px solid $mainBackgroundColor; 
        }
        .cardTitle{
            font-weight: bolder;
            font-size: 18px;
            background-color: $colorCard2;
            border-radius: 0 20px  0 0;
        }
        .addCategory{
            background-color: $colorCard1;
            border-radius:  20px 0 0 0;
        }
        .addDescription{
            background-color: $colorCard3;  
            border-top:4px solid $mainBackgroundColor;
        }
        .addIngrid{
            border-radius:0 0 0 20px ;
            background-color: $colorCard4;
            border-top:4px solid $mainBackgroundColor;
        }  
    }
}



#searchMenu{
    background-color: #f8f9fa;
    text-align: center;
    margin:0px;
    color:rgba(0,0,0,.5);
    input{
        margin-bottom:8px;
        background-color: rgb(255, 247, 238);
        border: 2px solid rgba(0, 0, 0, 0.5);  
        border-radius:10px 10px 10px 10px;
        -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    }
}

.addCategory::before {
    content: "Category: ";
}
.addDescription::before {
    content: "Description: ";
}


