@media screen and (max-width: 767px) {
   
    .windowInfo {
      font-size: 15px !important;
    }
    .card{
        font-size: 13px;
        .cardTitle{
            font-size: 16px !important;
        }
    }
    .addWindow{
        font-size: 13px;
    }
    .recipeTitle{
        font-size: 30px !important;
    }
    .litleTitle{
        font-size: 20px !important;
    }
}
@media screen and (max-width: 500px), screen and (max-height: 400px) {
    .windowInfo {
        top: 0vh !important;
        left: 0vw !important;
        font-size: 12px !important;
        height: 80% !important;
        width: 80% !important;
        top: 10% !important;
        left: 10% !important;
        border-radius: 15px !important;
      }
    
    .card{
        font-size: 10px;
        .cardTitle{
            font-size: 13px !important;
        }
    }
    .addWindow{
        font-size: 10px;
        border-radius: 5px !important;
    }
    #whatToSearch{
        width:90% !important;
    }
    #btnAddSearchIng{
        width:90% !important;
    }
    .recipeTitle{
        font-size: 25px !important;
    }
    .litleTitle{
        font-size: 17px !important;
    }
}