//Site color
$colorCard1 : rgba(168, 141, 106, 0.6);
$colorCard2: rgba(168, 141, 106, 0.65);
$colorCard3: rgba(231, 235, 212, 0.7);
$colorCard4: rgba(240, 235, 212, 0.9);
$colorWindow: rgb(240, 235, 212);
$backgroundColorWindow:rgba(0, 0, 0, 0.5); 
$mainBackgroundColor:rgba(172, 170, 170, 0.568);
$textColor: rgb(82, 82, 82);
