body{
    background-color: bisque;
    
}
.blackWindow{
    position: fixed;
    left:0px;
    top:0px;
    width:100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);  
    z-index: 10;
    .addWindow{
        height: 80vh;
        width: 80vw;
        margin-top: 10vh;
        margin-left: 10vw;
        background-color: snow;     
    }
}

#ingredConteiner{
    
    .ingredient{
        display:flex;
    }
    p{
        margin:0px;
    }
}
.card{
    width: 100vw;
    margin-top: 10px;
    label{     
        cursor: pointer;
        margin:0px;
    } 
}

.cardContent{
    display:flex;
    .firstContent{
        width:30vw;
    }
    .secondContent{
        width:70vw;
    }
}


.checkedbox{
    display: none;
    &:checked + .blank{
        display: none;
    } 
}
.blank{  
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);  
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 10;
}
